* {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  background: url(./img/bg-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-info {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-top: 5%;
  margin-left: 10%;
}
.card {
  padding: 0 30px;
  margin: 0 10px;
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  align-items: center;
  cursor: pointer;
}
.card-icon {
  font-size: 28px;
  background: #ff6348;
  width: 80px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}
.card:hover .card-icon {
  background: none;
  color: #ff6348;
  transform: scale(1.6);
}
.card p {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}
.card:hover p {
  max-height: 40px;
  opacity: 1;
}
