* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  background-image: url(./img/bg-1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: montserrat;
}

.checkbutton {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px;) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
}
@media (max-width: 858px) {
  .checkbutton {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    text-align: center;
    transition: all 0.5s;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
.text-block {
  position: absolute;
  center: 100%;
  background-color: rgb(82, 84, 87);
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 40px;
}
